<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí - Mi Portafolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/home/' %}active{% endif %}">Inicio</a></li>
                <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">Sobre Mí</a></li>
                <li><a href="{% url 'projects' %}" class="{% if request.path == '/projects/' %}active{% endif %}">Proyectos</a></li>
                <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">Contacto</a></li>
            </ul>
            <img src="{% static 'portfolio/media/perfil.jpg' %}" alt="Mi Foto" class="avatar">
        </nav>
    </header>
    <main>
        <section id="about">
            <img src="{% static 'portfolio/media/perfil.jpg' %}" alt="Mi Foto" class="about-img">
            <h1>Sobre Mí</h1>
            <p>Soy un desarrollador Front-End Junior apasionado por la creación de aplicaciones web dinámicas y escalables. Tengo formación en las últimas tecnologías del sector, incluyendo Angular 17, React TypeScript, TypeScript, JavaScript, Python, Django, HTML5 y CSS. También poseo experiencia en el desarrollo Full Stack y el manejo de bases de datos como MySQL y MongoDB.</p>
            <p>Me considero una persona altamente motivada, con una gran capacidad de aprendizaje y adaptación a nuevos entornos. Soy un jugador de equipo proactivo y resolutivo, siempre dispuesto a aportar valor a los proyectos en los que participo. Estoy en constante búsqueda de nuevos desafíos y oportunidades que me permitan seguir creciendo como profesional.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Mi Portafolio. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
