<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Mi Portafolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Inicio</a></li>
                <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">Sobre Mí</a></li>
                <li><a href="{% url 'projects' %}" class="{% if request.path == '/projects/' %}active{% endif %}">Proyectos</a></li>
                <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">Contacto</a></li>
            </ul>
            <img src="{% static 'portfolio/media/perfil.jpg' %}" alt="Mi Foto" class="avatar">
        </nav>
    </header>
    <main>
        <section id="contact">
            <h1>Contacto</h1>
            <p>Estoy en constante búsqueda de nuevos desafíos y oportunidades que me permitan seguir aprendiendo y creciendo como profesional. Si tienes alguna pregunta, idea o simplemente quieres charlar sobre posibles colaboraciones, no dudes en contactarme.</p>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Inserta tu nombre">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="nombre@email.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Send Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Inserta el texto del mensaje y envíalo" rows="3"></textarea>
                </div>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <p> Conéctate conmigo en <a href="https://www.linkedin.com/in/miguel-men-oli/" target="_blank">LinkedIn</a> </p>
        <p>&copy; 2025 Mi Portafolio. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
