<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi Portafolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Inicio</a></li>
                <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">Sobre Mí</a></li>
                <li><a href="{% url 'projects' %}" class="{% if request.path == '/projects/' %}active{% endif %}">Proyectos</a></li>
                <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">Contacto</a></li>
            </ul>
            <img src="{% static 'portfolio/media/perfil.jpg' %}" alt="Mi Foto" class="avatar">
        </nav>
    </header>
    <main>
        <section id="home"> <h1>Bienvenido a Mi Portafolio</h1>
             <p>¡Hola! Soy Miguel Meneses Oliveros, un apasionado Desarrollador Full Stack especializado en una amplia gama de tecnologías
                 modernas. Mi experiencia abarca desde el desarrollo de aplicaciones web dinámicas y escalables hasta el manejo de bases de
                 datos complejas y la implementación de soluciones de ciberseguridad.</p> <p>Mi formación incluye tecnologías punteras como 
                 Angular 17, React TypeScript, TypeScript, JavaScript, Python y Django. Además, estoy bien versado en HTML5 y CSS, lo que me
                 permite crear interfaces de usuario atractivas y funcionales. En cuanto a la gestión de bases de datos, tengo experiencia con
                 SQL Server, MySQL y MongoDB.
            </p>
            <p>Me considero una persona altamente motivada y siempre en búsqueda de nuevos desafíos que me permitan seguir aprendiendo y
               creciendo profesionalmente. Mi capacidad de adaptación y aprendizaje rápido me ha permitido trabajar eficientemente en
               diversos entornos y equipos. Disfruto colaborar con otros para encontrar soluciones innovadoras a problemas complejos y
               siempre busco aportar valor en cada proyecto en el que participo.
            </p>
            <p>Fuera del ámbito profesional, me apasiona mantenerme actualizado con las últimas tendencias tecnológicas y prácticas 
               de desarrollo. Soy lector de artículos sobre tecnología, y participo  en comunidades y foros de desarrollo.
            </p>
            <p>En mi tiempo libre, disfruto de actividades que me permiten desconectar y recargar energías, como el senderismo, disfrutando 
               de la naturaleza. Estas actividades no solo me ayudan a relajarme, sino que también me inspiran y me proporcionan
               nuevas perspectivas que aplico en mi trabajo diario.
            </p>
        </section>
    </main>
    <footer>
        <p> Conéctate conmigo en <a href="https://www.linkedin.com/in/miguel-men-oli/" target="_blank">LinkedIn</a> </p>
        <p>&copy; 2025 Mi Portafolio. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
