<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos - Mi Portafolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR8/Mzftom5N5v5y8QhgjqqUjOIG0ePmfE2AfMQDw" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/home/' %}active{% endif %}">Inicio</a></li>
                <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">Sobre Mí</a></li>
                <li><a href="{% url 'projects' %}" class="{% if request.path == '/projects/' %}active{% endif %}">Proyectos</a></li>
                <li><a href="{% url 'contact' %}" class="{% if request.path == '/contact/' %}active{% endif %}">Contacto</a></li>
            </ul>
            <img src="{% static 'portfolio/media/perfil.jpg' %}" alt="Mi Foto" class="avatar">
        </nav>
    </header>
    <main>
        <section id="certifications">
            {% include 'portfolio/certifications/certifications.html' %}
        </section>
        <section id="projects">
            {% include 'portfolio/projects_titles/projects_titles.html' %}
        </section>
    </main>
    <footer>
        <p>Conéctate conmigo en <a href="https://www.linkedin.com/in/miguel-men-oli/" target="_blank">LinkedIn</a></p>
        <p>&copy; 2025 Mi Portafolio. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
