body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    color: gold; /* Cambia esto al color que prefieras */
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 65px;
    object-fit: cover;
    margin-left: 1em;
}

main {
    padding: 2em;
}

#home p { text-align: justify; /* Justifica el texto */
 }

#home h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

#home p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
